body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #f9f9f9;
  line-height: 1.6;
  background-color: gray;
}
section {
  padding: 2rem 0;
  text-align: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
.placeholder-image {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #c0e9f7;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.75);
}
.placeholder-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.4rem;
  text-transform: none;
}
.placeholder-description {
  color: #656d74;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 2rem;
  text-transform: none;
}
.navigation {
  font-size: 1.6rem;
  background: #fff;
}
.navigation .navbar-brand {
  color: #4FC1E9;
}
.hero {
  padding-top: 20rem;
  padding-bottom: 20rem;
  background: #4FC1E9;
}
.cta {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #fff;
}
.cta .cta-text {
  color: #444;
  text-transform: none;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.cta .btn-cta {
  background: #4FC1E9;
  color: #fff;
}
.testimonials {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #48CFAD;
}
.testimonials .testimonial-text {
  font-size: 3rem;
  text-transform: none;
  margin-bottom: 2rem;
}
.testimonials .testimonial-text:before {
  display: inline-block;
  content: "“";
}
.testimonials .testimonial-text:after {
  display: inline-block;
  content: "”";
}
.testimonials .testimonial-author {
  text-transform: none;
  font-size: 1.6rem;
}
.columns {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #444;
}
.columns.single .placeholder-image {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.columns.double .placeholder-image {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.columns.double .placeholder-title {
  margin-top: 2rem;
}
.columns.double .placeholder-description {
  text-align: center;
}
.columns.triple .placeholder-image {
  background: transparent;
  padding-top: 0;
  padding-botttom: 0;
  line-height: 1;
}
.columns.triple .placeholder-image .glyphicon {
  font-size: 4rem;
  color: #c0e9f7;
}
.columns.triple .placeholder-title {
  text-transform: uppercase;
  text-align: left;
  color: #4FC1E9;
  margin-bottom: 0;
}
.columns.triple .placeholder-description {
  font-size: 1.6rem;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  background: #fff;
  color: #444;
  text-align: left;
}